[Desktop Entry]
Name=Copy to Clipboard
Comment=Add a share menu option for copying into clipboard
Keywords=copy;clipboard;paste;share;
Type=Application
Icon=copytoclipboard.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true