[Desktop Entry]
Name=Copy To Clipboard
Exec=qmlscene %u ShareCopyToClipboard/Main.qml
Icon=./ShareCopyToClipboard.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
